@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Sora:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --snow-white: 0 0% 98%; /* #fbfbfb */
  --taupe-gray: 22 5% 52%; /* #8b8480 */
  --light-coral: 0 73% 73%; /* #ec8686 */
  --tan: 25 47% 65%; /* #d09f7c */
  --gainsboro: 0 0% 88%; /* #e0e0e0 */
  --spanish-gray: 0 0% 62%; /* #9e9e9e */
  --alabaster: 0 9% 94%; /* #f0eded */
  --outer-space: 0 1% 27%; /* #454343 */
  --charcoal-gray: 221 11% 29%; /* #414651 */
  --storm-gray: 220 6% 47%; /* #717680 */
  --light-silver: 216 6% 85%; /* #d5d7da */
  --jet-black: 0 0% 14%; /* #242424 */
  --dim-gray: 0 0% 40%; /* #666666 */
  --slate-gray: 210 5% 45%; /* #6c7278 */
  --silver: 0 0% 80%; /* #cccccc */
  --crimson-red: 4 86% 58%; /* #f04438 */
  --ash-gray: 0 2% 58%; /* #979393 */
  --gunmetal: 0 2% 31%; /* #504d4d */
  --cerulean-blue: 220 76% 60%; /* #4d81e7 */
  --onyx-black: 210 7% 11%; /* #1a1c1e */
  --raven-black: 221 39% 11%; /* #111827 */
  --ice-mist: 200 20% 94%; /* #EDF1F3 */
  --shadow-gray: 0 1% 41%; /* #696767 */
}

.custom-container {
  @apply w-full max-w-[1236px] px-3 mx-auto;
}

.auth-layout {
  @apply w-full  flex min-h-svh flex-col items-center justify-center p-6 relative overflow-hidden;
}

.blur-box-1 {
  filter: blur(590px);
  @apply w-[100dvw] h-[100dvh] bg-[#c5c5c5] rounded-full absolute -right-1/4  -bottom-1/4;
}

.blur-box-2 {
  filter: blur(368px);
  @apply w-[100dvw] h-[100dvh] bg-[#EBC894] rounded-full absolute -left-1/2  -top-1/4;
}

.auth-layout form {
  @apply space-y-6 p-6 border border-solid border-white bg-white bg-opacity-60 min-w-[420px] max-w-[420px] relative z-50 rounded-xl;
}

.form-group {
  @apply w-full space-y-1.5;
}

.form-group .error-message {
  @apply text-crimson-red text-sm hidden;
}

.form-group input,
.form-group select,
.form-group textarea {
  @apply border border-transparent w-full rounded-[10px] border-light-silver py-2.5 px-3.5 text-sm font-inter text-onyx-black;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24);
  -moz-box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24);
  box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24);
}

.form-group textarea {
  @apply min-h-24 resize-none;
}

.form-group select {
  @apply appearance-none;
  background-image: url("../img/chevron-down.svg");
  background-position: center right 12px;
  background-repeat: no-repeat;
}

.form-group.error select {
  background-position: center right 24px;
}

.form-group label {
  @apply font-inter text-sm font-medium text-charcoal-gray block w-full;
}

.form-group.error .error-message {
  @apply block;
}

.form-group.error input {
  @apply border-crimson-red pr-8;
}

.form-group .error-icon {
  @apply absolute hidden  inset-y-0 h-full right-2;
}

.form-group.error .error-icon {
  @apply block;
}

.auth-layout form input {
  @apply w-full rounded-[10px] border-ice-mist py-3 px-3.5 text-sm font-inter text-onyx-black;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24);
  -moz-box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24);
  box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24);
}

.auth-layout form .submit-btn {
  @apply w-full py-3 rounded-xl bg-tan text-white font-inter font-bold text-base;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(208, 159, 124, 0.48),
    0px 0px 0px 1px rgb(208, 159, 124);
  -moz-box-shadow: 0px 1px 2px 0px rgba(208, 159, 124, 0.48),
    0px 0px 0px 1px rgb(208, 159, 124);
  box-shadow: 0px 1px 2px 0px rgba(208, 159, 124, 0.48),
    0px 0px 0px 1px rgb(208, 159, 124);
}

.auth-layout form input[type="checkbox"] {
  @apply border-slate-gray bg-transparent;
}

.layout-wrapper {
  @apply w-full h-svh flex flex-col;
}

.layout-header {
  @apply w-full bg-snow-white py-6;
}

.nav-list {
  @apply gap-9 flex items-center;
}

.nav-list a {
  @apply font-inter text-base p-1 font-medium text-shadow-gray;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.active {
  @apply text-tan;
}

.content-wrapper {
  @apply w-full h-full flex flex-col justify-between gap-6;
}

.main-content {
  @apply h-auto w-full;
}

.layout-footer {
  @apply w-full bg-alabaster text-center py-4;
}

.search-input-group {
  @apply relative;
}

.search-input-group input {
  @apply border border-spanish-gray rounded-lg p-2 outline-none w-full pl-8 placeholder:text-spanish-gray text-xs font-montserrat;
}
.search-input-group .icon {
  @apply absolute top-1/2 -translate-y-1/2 left-2 -mt-0.5;
}

.btn-primary {
  @apply rounded-lg py-2.5 px-3 border border-transparent font-montserrat text-xs font-bold outline-none flex items-center justify-center;
}

.btn-primary.fill {
  @apply bg-tan text-white;
}

.btn-primary.outline {
  @apply border-tan text-tan;
}

.btn-primary.fill:hover {
  @apply border-tan bg-transparent text-tan;
}

.btn-primary.outline:hover {
  @apply bg-tan text-white;
}

.paginations {
  @apply flex items-center gap-3;
}

.page-btn-list {
  @apply flex items-stretch gap-3;
}

.page-btn-list button {
  @apply min-w-8 min-h-8 max-w-8 max-h-8 flex items-center justify-center rounded-lg font-montserrat text-black bg-gainsboro text-xs font-medium;
}

.page-btn-list button.active {
  @apply bg-tan text-white;
}

.paginations .step-btn {
  @apply font-montserrat text-xs text-spanish-gray p-1.5 rounded-lg;
}

.paginations .step-btn:hover {
  @apply bg-gainsboro text-outer-space;
}

.table-content {
  @apply w-full overflow-x-auto;
}

.table-content table {
  @apply w-full;
}

.table-content table thead {
  @apply bg-taupe-gray bg-opacity-10;
}

.table-action-btn {
  @apply min-w-8 min-h-8 flex items-center justify-center;
}

.table-content table td,
.table-content table th {
  @apply py-4 px-3 text-left;
}

.table-content table tbody tr:nth-child(even) {
  @apply bg-taupe-gray bg-opacity-5;
}

.modal {
  @apply fixed left-0 top-0 w-full overflow-y-auto min-h-svh bg-black bg-opacity-10 flex flex-col items-center justify-center p-4;
}

.modal-body {
  @apply bg-white py-6 px-8 w-full max-w-xl rounded-lg space-y-8;
}

form.item-add label {
  @apply font-jakarta font-semibold text-base text-dim-gray;
}
